## Umich Caen Login
Host caen mcwas
	HostName login.engin.umich.edu
	User mcwas
	ControlMaster auto
	ControlPath ~/.ssh/%r@%h:%p
	ControlPersist 43200

Host mcwas oncampus
	HostName oncampus-course.engin.umich.edu
	User mcwas
	ControlMaster auto
	ControlPath ~/.ssh/%r@%h:%p
	ControlPersist 43200
